body {
}
p {
  color: red;
  text-align: center;
  border: 2px solid black;
      
}

a {
  color: purple;
}

#para1 {
 text-indent: 1in;
 word-spacing: 1in;
 letter-spacing: 0.1in;
  color: green;
  font-family: monospace;
}

/* this is my comment */
/* My class text is on the right of the screen */
.myclass {
  color: white;
  text-align: right;
  backround-color: rgb(125,0,150);
}

p.mylcass {
  text-decoration: underline;
  border: none;
}
